*{
    border-width: 2px;
    border-color: #000;
}

body{
    background: hsl(0, 0%, 90%);
    margin: 0;
    font: 16px 'Poppins', Helvetica, Sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 0 15px 0;
}

figcaption{
    color: hsl(0, 0%, 70%);
    font-weight: 300;
    line-height: 1.2em;
}

::-webkit-scrollbar{ 
    display: none;
}

/*Left Bar*/

#main-left-container {
    float:left;
    width: 25vw;
    overflow-y: scroll;
}

.flag-element{
    border-style: solid;
}

#flag-container, #menu-container ol{
    box-sizing: border-box;
}

#flag-container{
    height: 30vh;
    min-width: 30vh;
    
    overflow: hidden;
}

#flag-outter{
    height: 100%;
    border-radius: 30vh;
    overflow: hidden;
    
    margin: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image:
        radial-gradient(#000 25%, transparent 0), 
        radial-gradient(#000 25%, transparent 0);
    background-size:10px 10px;
    background-position: 0 0, 5px 5px;
}

#flag-inner{
    width: 40%;
    height: 50%;
    
    background-color: hsl(0, 0%, 90%);
    background-image:
        repeating-linear-gradient(135deg, #000, #000 17%, transparent 17%, transparent 50%
        );
    background-size:10px 10px;
}

#menu-container{
    font-size: 1.5em;
    font-weight: 500;
}

#menu-container ol{
    height: 70vh;
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#menu-container li{
    border-style: none solid solid solid;
    
    padding: 0 5px;
    min-height: 1.5em;
    
    overflow: hidden;
    white-space: nowrap;
}


/*Right Bar*/

#main-right-container{
    position: absolute;
    left: 25vw;
    width: 75vw;
}

.reader-container{
    height: 100vh;
    box-sizing: border-box;
    border-right-style: solid;
    overflow-y: scroll;
}

.reader-item{
    padding: 50px 50px 15px 50px;
    border-style: solid none;
}

.reader-item *{
    max-width: 640px;
}

.reader-item a{
    text-decoration: underline;
}


/*Mobile*/

@media screen and (max-width: 800px) {
    
    *{
        border-width: 3px;
    }
    
    .not-mobile{
        display: none;
    }
    
    #main-left-container{
        width: 100%;
    }
    
}
